/*== Header ==*/
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1vh 0;
    height: 6.5vh;
    background: white;
    box-shadow: 4px 2px 13px rgba(0,0,0,.4);
    z-index: 10;
}

.search-field {
    position: absolute;
    width: 70%;
    transition: all .4s;
    right: 0;
    top: 1.7vh;
}

header .search-field input {
    background: #e5e5e5;
    border: 0;
    border-radius: 30px 0 0 30px;
    line-height: 5.3vh;
    width: 95%;
    padding-right: 5%;
    transition: all .4s;
}

header .search-field.search-field-open {
    width: 100%;
}

header .search-field.search-field-open input {
    background: white;
}

header .search-field button {
    position: absolute;
    left: 4vw;
    top: 3vw;
    color: #898989;
    font-weight: bold;
}

header .search-field button:before {
    font-size: 3vh;
}

button.search-settings, button.clean-search, header .search-area button.go-back {
    position: absolute;
    width: 30%;
    right: 72%;
    transition: all .4s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

button.clean-search {
    right: 100%;
    flex-direction: row;
    height: 4vh;
    font-size: 4.5vw;
    width: 25%;
    margin-top: 2vh;
}

header .search-area button.go-back {
    right: 100%;
    margin-top: 1.5vh;
}

button.clean-search .icon {
    display: flex;
}

button.search-settings.search-field-open {
    right: 100%;
}

header.search-settings-open .search-field {
    right: -100%;
}

header.search-settings-open button.color-grey.search-settings {
    position: absolute;
    right: 4vw;
    width: 85%;
    flex-direction: row;
    justify-content: baseline;
    font-size: 6vw;
    margin-top: 3vw;
    color: #0c0809;
}

header.search-settings-open button.color-grey.search-settings .icon {
    margin-left: 3vw;
}

header.search-settings-open button.clean-search {
    right: 62%;
}

header.search-settings-open button.go-back {
    right: 85vw;
    width: 15vw;
    font-weight: bold;
}
/*==Search filter ==*/

#search-filter {
    width: 100vw;
    height: 70vh;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 8.3vh;
    padding-bottom: 100px;
    background: #f5f5f5;
    z-index: 1;
}

#search-filter section {
    padding-top: 5vw;
    border-bottom: #b2b2b2 solid 1px;
}

#search-filter h3, .slider-questionnaire-item h3 {
    margin-top: 0;
    font-size: 3.1vw;
    font-weight: normal;
    margin-bottom: 4.8vw;
}